<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.jsdelivr.net/npm/phaser@3.23.0/dist/phaser.js"></script>
    <script src="/bundle.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/gModal.min.css">
    <link rel="stylesheet" href="/game.css">
    <title>Pong</title>
</head>

<body>
    <a id="home-link" href="/">
        <img src="/assets/yap logo simple.png" alt="" width="50">
        <p>Home</p>
    </a>
    <div id="game"></div>
</body>

<script>
    const gameName = '<%= game %>';
    const playerType = '<%= playerType %>';

    window.onload = () => startGame(gameName, playerType);
</script>

</html>