body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    font-family: sans-serif;
}

#home-link {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #fef1f1;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0.5em;
    position: absolute;
    top: 2em;
    left: 2em;
    border-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

#home-link p {
    margin-left: 0.5em;
    color: #ef072c;
}

#home-link img {
    border-radius: 1em;
}