/* red #EE0025 */

body {
    display: flex;
    justify-content: center;
    padding: 3em;
    /* background-color: #F7EEEE; */
    /* background-color: #ffe6e6; */
    font-family: 'Roboto', sans-serif;
}

.main {
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    background-color: #fef1f1;
}

.main img {
    border-radius: 1em;
}

input {
    outline: none;
}

.games {
    padding: 3em;
}

.new-game {
    display: flex;
}

.new-game input {
    border: none;
    border-radius: 0;
    padding: 0.3em;
    text-align: center;
    font-size: 1.2em;
}

.new-game input:focus {
    border-bottom: 0.15em solid #EE0025;
}

.new-game button {
    background-color: #EE0025;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: none;
    padding: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
}

.new-game button:hover {
    background-color: #ff7389;
}

.available-games {
    padding-top: .5em;
    color: #EE0025;
}

.available-games-list li {
    margin-top: 0.2em;
}

.available-games-list li a {
    color: #EE0025;
}

.hidden {
    display: none;
}